body {
	background-image: url('./assets/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 300;
	padding: 5%;
	font-size: 18px;
	color: white;
}

button {
	margin-left: 5px;
}

button,
input {
	border: 2px solid white;
	border-radius: 2px;
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
}

h2 {
	font-size: 46px;
}

h2,
h3,
p {
	font-weight: 300;
}

.bitcoin {
	font-size: 18px;
	font-weight: 400;
	color: #658d72;
}

.jestCoverage,
.githubLink {
	font-size: 16px;
	padding-top: 40px;
}

.githubLink {
	text-decoration: none;
	color: white;
}

.githubLink:hover {
	color: #e24242;
}
